
//- md-icon(md-colors="{color: 'cyan'}") star
img(ng-src="img/logo.png" ui-sref="home")
span(flex)
md-button(ng-click="mdDialogmenu();")
	md-icon menu
md-button.glowboton(ng-click="iniciosesion($event)")
	md-icon perm_identity

//- Resolución completa
//- div.menu
//- 	md-menu-bar(hide-xs)
//- 		md-button(class="navbutton" ng-repeat="boton in botones" md-colors="{background: '{{boton.color}}'}" ui-sref="{{boton.sref}}")
//- 			md-icon(class="material-icons") {{boton.icon}}
//- 	//- Resolución mobil
//- 	md-menu-bar(hide-gt-xs)
//- 		md-menu
//- 			md-button(ng-click="$mdOpenMenu()")
//- 				md-icon.material-icons menu
//- 			md-menu-content
//- 				md-menu-item(ng-repeat="boton in botones")
//- 					md-button(class="navbutton" md-colors="{background: '{{boton.color}}'}" ui-sref="{{boton.sref}}") {{boton.title}}
//- 						md-icon(class="material-icons") {{boton.icon}}
//- 	md-button(ng-click="iniciosesion($event)" md-colors="{background: 'cyan'}")
//- 		md-icon settings
//- 	md-button(ng-click="logOut()" md-colors="{background: 'red'}")
//- 		md-icon clear
