md-dialog
    form(ng-submit="crearCiudad(ciudad)")
        md-input-container
            label Nombre de la ciudad
            input(ng-model="ciudad.nombre")
        md-button(type="submit")
            md-icon add
