md-toolbar
    background-color: black !important;

.nuevacarrera, .carrera
    form
        margin: 0px;
        .form-section
            margin: 40px 0px;
            md-input-container
                margin:0px;
                .md-errors-spacer
                    min-height: 0px;
    md-grid-tile
        background-size: cover;
        background-position: center center;
        .agregarimagen, .dropify-wrapper
            height: 100%;
            width: 100%
            .dropify-wrapper
                padding: 0px;
        .md-button
            border-radius: 0px;
            padding: 0px;
            margin: 0px;

md-sidenav
	md-list
		md-list-item
			md-icon
                margin: auto 20px;
