div(layout="row" layout-align="center center")
    div(flex="90")
        md-card
            md-card-content
                h3 Nosotros
                p Glow Run 5K es un concepto innovador en México caracterizado por el uso de más de una tonelada de pintura fluorescente bajo segmentos de luz negra y con DJs durante el recorrido.
            md-divider
            md-subheader(layout="row")
                md-button(ui-sref="terminosycondiciones") Terminos y condiciones
                
